<div class="full-image-wrapper">
  <span class="mainText">
  Расчет производительности горизонтальной газовой скважины
  <span matTooltip="Рассматривается горизонтальная скважина, полностью вскрывшая
полосообразный пласт c переменной толщиной при симметричном расположении относительно толщины пласта
и одинаковом удалении границы зоны дренирования со стороны постоянной и переменной толщин.">*</span>
</span>
    <img src="assets/page.jpg" alt="Газовая скважина" />

    <button class="image-button left" routerLink="/calcDebit">Найти дебит</button>
    <button class="image-button middle" routerLink="/calcDep">Анализ влияния фактора на дебит</button>
    <button class="image-button right" routerLink="/compareDebit">Сравнить влияение факторов на дебит</button>
</div>
